/* begin Box, Sheet */
.art-Sheet-tl
{
	clip: rect(auto 1px 1px auto);
}

.art-Sheet-tr
{
	clip: rect(auto auto 1px 1px);
}

.art-Sheet-bl
{
	clip: rect(1px 1px auto auto);
}

.art-Sheet-br
{
	clip: rect(1px auto auto 1px);
}

.art-Sheet-tc
{
	clip: rect(auto auto 1px auto);
}

.art-Sheet-bc
{
	clip: rect(1px auto auto auto);
}

.art-Sheet-cr
{
	clip: rect(auto auto auto 1px);
}

.art-Sheet-cl
{
	clip: rect(auto 1px auto auto);
}
/* end Box, Sheet */

/* begin Menu */
.art-nav .r
{	clip: rect(auto auto auto 798px);
}
/* end Menu */

/* begin MenuItem */
.art-menu a .r
{
	clip: rect(auto auto auto 406px);
}
/* end MenuItem */

/* begin BlockHeader */
.art-BlockHeader .r
{
	clip: rect(auto auto auto 789px);
}
/* end BlockHeader */

/* begin Box, BlockContent */
.art-BlockContent-tl
{
	clip: rect(auto 9px 9px auto);
}

.art-BlockContent-tr
{
	clip: rect(auto auto 9px 9px);
}

.art-BlockContent-bl
{
	clip: rect(9px 9px auto auto);
}

.art-BlockContent-br
{
	clip: rect(9px auto auto 9px);
}

.art-BlockContent-tc
{
	clip: rect(auto auto 9px auto);
}

.art-BlockContent-bc
{
	clip: rect(9px auto auto auto);
}

.art-BlockContent-cr
{
	clip: rect(auto auto auto 9px);
}

.art-BlockContent-cl
{
	clip: rect(auto 9px auto auto);
}
/* end Box, BlockContent */

/* begin PostContent */
.art-PostContent
{
	height:1%;
}
/* end PostContent */

/* begin Button */
.art-button-wrapper .r
{
	clip: rect(auto auto auto 405px);
}
/* end Button */

