<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<system.webServer>

		<!-- set to <httpErrors> while developing and when facing errors -->
		<httpErrors errorMode="Custom">

			<remove statusCode="404" subStatusCode="-1" />

			<!-- change to the asp-file of your choice - most likely /default.asp-->
			<error statusCode="404" path="/custom_404.asp" responseMode="ExecuteURL" />


		</httpErrors>

		<rewrite>
			<rules>
				<!-- REST API Front Controller Route -->
				<rule name="RestAPI" stopProcessing="true">
					<match url="^rest/(.*)$" ignoreCase="true" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="/rest/index.asp?route={R:1}" appendQueryString="true" />
				</rule>

				<!-- Rewrite all requests to AxonASP (reverse-proxy style) -->
				<!--<rule name="ReverseProxyToAxonASP" stopProcessing="true">
					<match url="(.*)" />
					<action type="Rewrite" url="http://localhost:4050/{R:1}" />
				</rule>-->

				<!-- Capture groups with regex and query string placeholders -->
				<rule name="ProductDetails" stopProcessing="true">
					<match url="^prod/(\d+)/(.*)$" ignoreCase="true" />
					<action type="Rewrite" url="/product.asp?id={R:1}&amp;slug={R:2}" appendQueryString="true" />
				</rule>

				<!-- Redirect example with regex and redirectType -->
				<rule name="LegacyRedirect" stopProcessing="true">
					<match url="^old/(.*)$" />
					<action type="Redirect" url="/new/{R:1}" redirectType="Permanent" appendQueryString="false" />
				</rule>
			</rules>
		</rewrite>

		<!-- Global HTTP redirect settings -->
		<httpRedirect enabled="false" destination="https://example.com" exactDestination="false" childOnly="false" httpResponseStatus="Found" />


	</system.webServer>

</configuration>